<template>
    <div>
        <AuthCheck />
        <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-dark bg-gradient-dark" id="sidenav-main">
            <div class="container-fluid">
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Brand -->
                <router-link class="navbar-brand pt-0" to="/dashboard">cobweb<strong>panel</strong>
                </router-link>
                <!-- User -->
                <ul class="nav align-items-center d-md-none">
                    <li class="nav-item dropdown">
                        <router-link class="nav-link nav-link-icon" to="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ni ni-bell-55"></i>
                        </router-link>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                            <router-link class="dropdown-item" to="#">Action</router-link>
                            <router-link class="dropdown-item" to="#">Another action</router-link>
                            <div class="dropdown-divider"></div>
                            <router-link class="dropdown-item" to="#">Something else here</router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <router-link class="nav-link" to="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="https://crafatar.com/avatars/ab8cf73b-4387-41ca-b807-dbdce71dfd35">
              </span>
                            </div>
                        </router-link>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <router-link to="./examples/profile.html" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>My profile</span>
                            </router-link>
                            <router-link to="./examples/profile.html" class="dropdown-item">
                                <i class="ni ni-settings-gear-65"></i>
                                <span>Settings</span>
                            </router-link>
                            <router-link to="./examples/profile.html" class="dropdown-item">
                                <i class="ni ni-calendar-grid-58"></i>
                                <span>Activity</span>
                            </router-link>
                            <router-link to="./examples/profile.html" class="dropdown-item">
                                <i class="ni ni-support-16"></i>
                                <span>Support</span>
                            </router-link>
                            <div class="dropdown-divider"></div>
                            <router-link to="#!" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </router-link>
                        </div>
                    </li>
                </ul>
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Collapse header -->
                    <div class="navbar-collapse-header d-md-none">
                        <div class="row">
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Form -->
                    <form class="mt-4 mb-3 d-md-none">
                        <div class="input-group input-group-rounded input-group-merge">
                            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fa fa-search"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item  active ">
                            <router-link class="nav-link" to="/dashboard">
                                <i class="ni ni-tv-2 text-primary"></i> Dashboard
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link " to="/servers">
                                <i class="ni ni-planet text-blue"></i> Servers
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link " to="/networks">
                                <i class="ni ni-pin-3 text-orange"></i> Networks
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link " to="/profile">
                                <i class="ni ni-single-02 text-yellow"></i> My Account
                            </router-link>
                        </li>
                    </ul>
                    <!-- Divider -->
                    <hr class="my-3">
                    <h6 class="navbar-heading text-muted">Cobweb Network</h6>
                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                            <router-link class="nav-link" to="/cobweb/tutorials">
                                <i class="ni ni-spaceship"></i> Tutorials
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/cobweb/support">
                                <i class="ni ni-spaceship"></i> Support Chat
                            </router-link>
                        </li>
                    </ul>
                    <div v-if="currentServer.exists">
                        <hr class="my-3">
                        <!-- Heading -->
                        <h6 class="navbar-heading text-muted">{{currentServer.name}}</h6>
                        <!-- Navigation -->
                        <ul class="navbar-nav mb-md-3">
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/overview">
                                    <i class="ni ni-spaceship"></i> Server Overview
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/players">
                                    <i class="ni ni-spaceship"></i> Players
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/staff">
                                    <i class="ni ni-spaceship"></i> Staff
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/discord">
                                    <i class="ni ni-spaceship"></i> Discord
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/integrations">
                                    <i class="ni ni-spaceship"></i> Integrations
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/settings">
                                    <i class="ni ni-spaceship"></i> Settings
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/statistics">
                                    <i class="ni ni-spaceship"></i> Statistics
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/punishments">
                                    <i class="ni ni-spaceship"></i> Punishments
                                </router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/servers/null/store">
                                    <i class="ni ni-spaceship"></i> Store
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <Prechecks />
        <div class="main-content">
            <!-- Navbar -->
            <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                <div class="container-fluid">
                    <!-- Brand -->
                    <router-link class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" to="./index.html">{{heading}}</router-link>
                    <!-- Form -->
                    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                        <div class="form-group mb-0">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                        </div>
                    </form>
                    <!-- User -->
                    <ul class="navbar-nav align-items-center d-none d-md-flex">
                        <li class="nav-item dropdown">
                            <router-link class="nav-link pr-0" to="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="https://crafatar.com/avatars/ab8cf73b-4387-41ca-b807-dbdce71dfd35">
                </span>
                                    <div class="media-body ml-2 d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">Phil</span>
                                    </div>
                                </div>
                            </router-link>
                            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <router-link to="./examples/profile.html" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </router-link>
                                <router-link to="./examples/profile.html" class="dropdown-item">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Settings</span>
                                </router-link>
                                <router-link to="./examples/profile.html" class="dropdown-item">
                                    <i class="ni ni-calendar-grid-58"></i>
                                    <span>Activity</span>
                                </router-link>
                                <router-link to="./examples/profile.html" class="dropdown-item">
                                    <i class="ni ni-support-16"></i>
                                    <span>Support</span>
                                </router-link>
                                <div class="dropdown-divider"></div>
                                <router-link to="#!" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </router-link>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
    </div>
    </div>
</template>
<script>

    import AuthCheck from '../checks/AuthCheck';
    import Prechecks from '../components/Prechecks';
    export default {
        components: {AuthCheck, Prechecks},
        props: ["heading"],
        data: function() {
            return {
                currentServer: {
                    exists: false,
                    name: ""
                }
            }
        }
    }
</script>
