<template>
    <div class="content-group">
        <div class="bg-gradient-orange pb-2 pt-2 text-white text-center">
            You haven't yet linked a Minecraft Account to your Cobweb account.
            <router-link class="action" to="/profile/accounts">Link Account</router-link>
        </div>
    </div>
</template>

<style scoped>
    .content-group {
        margin-left: 250px;
    }
    .action {
        padding: 2px 5px;
        background: white;
        font-size: 0.85rem;
        border-radius: 2px;
        text-transform: uppercase;
        font-weight: 500;
    }
</style>

<script>

</script>
