<template>
    <div>
        <Navbar heading="Minecraft Accounts" />

        <div id="createNewLinkAccount" class="modal modal-dark fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Enter Account Username</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div v-if="create.error.length > 0" class="alert alert-warning">
                            <span class="alert-text">{{create.error}}</span>
                        </div>
                        <input type="text" v-model="create.username" placeholder="Username" class="form-control bg-dark">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-info" @click.prevent="addAccount">Add Account</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="header bg-gradient-info pl-6 pb-8 pt-5 pt-md-8">
                <div class="row accounts">
                    <div data-aos="zoom-in" class="col-md-3" v-for="account in accounts">
                        <a href="javascript:void(0)" @click.prevent="showAccountModal(account)">
                        <div class="col-md-12 card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img v-bind:src="'https://crafatar.com/renders/body/' + account.uuid" class="render-user" alt="">
                                    </div>
                                    <div class="col-md-7">

                                        <h3 class="card-title pt-4 mb-0">{{account.username}}</h3>
                                        <div v-if="account.confirmed">
                                            <p v-if="account.primary" class="text-sm text-success font-weight-500 mb-0">Main Account</p>
                                            <p class="text-sm mb-0 font-weight-700 mt-1">Linked on</p>
                                            <p class="text-sm text-muted mb-0">{{account.linked}}</p>
                                        </div>
                                        <div v-else>
                                             <p class="text-sm text-danger font-weight-500 mb-2">Unverified</p>
                                            <p class="text-sm mb-0 font-weight-700 mt-1">Link Code</p>
                                            <p class="text-sm text-dark text-muted font-weight-400 mb-0">{{account.verifyCode}}</p>
                                            <p class="text-sm text-dark text-muted font-weight-400 mb-0 font-italic">(click to copy)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div data-aos="zoom-in" data-aos-delay="100" class="col-md-2">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#createNewLinkAccount">
                            <div class="col-md-12 card">
                                <div class="card-body text-center">
                                    <h3 class="card-title pt-5 mb-0">Link a New Account</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="section section-lg section-light pt-4 pb-4 pl-4">
                <h1>What is Account Linking?</h1>
                <p class="text-md font-weight-400">
                    Account linking allows you to connect your Minecraft account(s) to Cobweb, allowing you to perform
                    actions with certain integrations, engage with staff discussion and access parts of servers which
                    require certain permission levels.
                </p>
            </div>
            <div class="section section-lg text-light bg-gradient-purple pt-4 pb-4 pl-4">
                <h1 class="text-white">How to Link a New Account</h1>
                <p class="text-md font-weight-400">
                    It's quick and easy to link a new account to Cobweb...
                </p>
                <p class="font-weight-800">1. Click the "Link a New Account" button.</p>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .card {
        min-height: 230px;
        transition: 0.2s ease;
    }
    .card:hover {
        box-shadow: 0 0 16px #00000063;
    }
    .row.accounts {
        width: 95%;
    }
    img.render-user {
        height: 180px;
        width: 80px;
    }
</style>

<script>
    import Navbar from '../components/Navbar';
    export default {
        components: {Navbar},
        mounted: function() {
            this.$root.$data.headingText = "Minecraft Accounts";

            // Get Accounts
            axios.get("/api/v1/profile/accounts/list", {
                headers:
                    {
                        "X-Cobweb-Token": localStorage.getItem("token")
                    }
            })
            .then((r) => {
                this.accounts = r.data.accounts;
            })
        },
        methods: {
            addAccount() {
                this.create.error = ""
                axios.post("/api/v1/profile/accounts/add", {username: this.create.username})
                .then(r => {
                    r = r.data;
                    if(r.success) {
                        $('#createNewLinkAccount').modal('hide');
                        this.accounts.push({
                            username: r.profile.name,
                            uuid: r.profile.id,
                            updated_at: r.timestamp,
                            verifyCode: r.code,
                        })
                    }
                    else{
                        this.create.error = r.error;
                    }
                });
            },
        },
        data: function() {
            return {
                accounts: [
                ],
                create: {
                    username: "",
                    error: ""
                }
            }
        }
    }
</script>
