<template>
    <div class="component-portal">
        <div class="row">
            <div v-bind:style="imageLeft" class="col-md-8 bg-blue d-sm-none d-md-block">
                <div class="credit">Image: {{imageCredit}}</div>
            </div>
            <div class="col-md-4 col-sm-12 bg-white">
                <div v-if="show.notfound">
                    <h2>Unknown Portal Action</h2>
                    <p>How did you get here?!</p>
                    <p>The crumb <strong>{{$route.params.type}}</strong> was not found.</p>
                </div>


                <div v-if="show.login">
                    <h2 data-aos="fade-up" class="text-center pt-5">
                        Login to Cobweb
                    </h2>
                    <div class="__cobwebAccount__">
                        <input data-aos="fade-up" data-aos-delay="500"
                               type="text" class="CobwebLoginInput" placeholder="Username" v-model="account.username">
                        <input data-aos="fade-up" data-aos-delay="500"
                               type="password" class="CobwebLoginInput" placeholder="Password" v-model="account.password">
                        <a data-aos="fade-up" data-aos-delay="500"
                           href="#DO_LOGIN" class="btn-login" @click.prevent="loginWithCobweb()">{{status.login}}</a>

                        <div class="sub-main-links" data-aos="fade-up" data-aos-delay="550">
                            <a @click.prevent="change('register')" href="/auth/register">Create Account</a>
                            <a @click.prevent="change('forgot_password')" href="/auth/forgot_password">Forgot Password</a>
                        </div>


                    </div>
                </div>


                <div v-if="show.register">
                    <h2 data-aos="fade-up" class="text-center pt-5">
                        Create a Cobweb Account
                    </h2>
                    <div class="__cobwebAccount__">
                        <input data-aos="fade-up" data-aos-delay="500"
                               type="text" class="CobwebLoginInput" name="username" placeholder="Username" v-model="account.username">
                        <input data-aos="fade-up" data-aos-delay="500"
                               type="text" class="CobwebLoginInput" name="email" placeholder="Email Address" v-model="account.email">
                        <input data-aos="fade-up" data-aos-delay="500"
                               type="password" class="CobwebLoginInput" name="password" placeholder="Password" v-model="account.password">
                        <input data-aos="fade-up" data-aos-delay="500"
                               type="password" class="CobwebLoginInput" name="confirmpassword" placeholder="Confirm Password" v-model="account.confirmpassword">
                        <a data-aos="fade-up" data-aos-delay="500"
                           href="action" class="btn-login" @click.prevent="createAccount()">{{status.create}}</a>
                        <div class="sub-main-links" data-aos="fade-up" data-aos-delay="550">
                            <a @click.prevent="change('login')" href="/auth/login">Login</a>
                        </div>
                    </div>
                </div>

                <div class="errors" data-aos="flip-up" v-if="errors.length > 0">
                    <p>There was a problem processing your request</p>
                    <ul>
                        <li v-for="error in errors">{{error}}</li>
                    </ul>
                </div>

                <div class="links">
                    <router-link to="/legal/privacy">Privacy Policy</router-link> -
                    <router-link to="/legal/terms">Terms of Service</router-link> -
                    <a href="https://gitlab.com/cheatcode/cobweb-panel">Source</a>
                </div>
            </div>
        </div>
    </div>
</template>


<style lang="scss" scoped>
    .errors {
        width: 80%;
        background: #FFCDD2;
        border: 1px solid #F44336;
        margin-top: 6px;
        border-radius: 3px;
        padding: 10px;
        p {
            font-weight: 900;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: #b71c1cdb;
        }
        li {
            color: #131313;
            text-transform: uppercase;
            font-size: 0.85rem;
            font-weight: 500;
        }
    }

    .sub-main-links {
        margin-top: 5px;
        a {
            display: inline-block;
            width: max-content;
            background: #434379;
            padding: 6px 20px;
            color: white;
            border-radius: 3px;
            margin-right: 5px;
        }
    }
    .col-md-4 {
        padding-top: 10vh;
    }
    .links {
        a {
            color: #1d1d1d;
        }
        bottom: 4px;
        position: absolute;
        left: 8px;
    }
    a.btn-login {
        display: block;
        width: 50%;
        text-align: center;
        background: #32325d;
        border-radius: 3px;
        padding: 9px;
        color: white;
    }
    hr {
        border-top-color: #7986cba1;
    }
    .CobwebLoginInput {
        border: 1px solid #8e8fb3;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 3px;
        padding: 10px 20px;
    }

    .component-portal {
        width: 100%;
        height: 100vh;
    }
    .row {
        height: 100vh;
        max-width: 100%;
    }
    .credit {
        background: #000000cf;
        display: inline-block;
        position: absolute;
        bottom: 0;
        color: #ffffffa8;
        padding: 3px 7px;
    }

</style>

<script>
    module.exports = {
        name: "Login",
        data: function() {
            return {
                show: {
                    login: false,
                    create: false,
                    notfound: false
                },
                errors: [],
                status: {
                    create: "Create Account",
                    login: "Login",
                },
                account: {
                    username: "",
                    password: "",
                    confirmpassword: "",
                    email: ""

                },
                images: [
                    {url: "https://i.imgur.com/Xak14Cj.jpg",
                    credit: "Egnez (pixabay)"},
                    {
                        url: "https://i.imgur.com/60ewHml.jpg",
                        credit: "allinonemovie (pixabay)"
                    },
                    {
                        url: "https://i.imgur.com/jkFVVw0.jpg",
                        credit: "Chickenonline (pixabay)"
                    },
                    {
                        url: "https://i.imgur.com/S2vSvva.jpg",
                        credit: "jovanmanic (pixabay)"
                    },
                    {
                        url: "https://i.imgur.com/McvV2oC.png",
                        credit: "Chickenonline (pixabay)"
                    },
                    {
                        url: "https://i.imgur.com/pu6JeXI.jpg",
                        credit: "Egnez (pixabay)"
                    },
                ],
                imageLeft: "",
                imageCredit: "(loading)"
            }
        },
        methods: {
            loginWithCobweb() {
                this.errors = [];
                this.status.login = "Working...";
                let failed = false;

                if(this.account.username == "") {
                    this.errors.push("Please specify a username.");
                    failed = true;
                }
                if(this.account.password == "") {
                    this.errors.push("Please specify a password.");
                    failed = true;
                }
                // tell API we're ready
                if(!failed) {
                    axios.post("/api/v1/portal/login", {username: this.account.username, password: this.account.password})
                        .then((r) => {
                            r = r.data;
                            if (r.success) {
                                localStorage.setItem("token", r.token);
                                this.$router.push("/dashboard");
                            } else {
                                this.errors.push("Incorrect username or password.")
                                failed = true;
                            }
                        })
                }
                if(failed) {
                    this.status.login = "Login";
                }
            },

            createAccount() {
                this.errors = [];
                this.status.create = "Working...";
                let failed = false;
                // Validation (client-side)
                if(this.account.username < 3 || this.account.username > 16) {
                    failed = true;
                    this.errors.push("Your username must be between 3 and 16 characters long.");
                }
                if(this.account.password !== this.account.confirmpassword) {
                    failed = true;
                    this.errors.push("Your passwords don't match.");
                }
                if(this.account.password == "") {
                    failed = true;
                    this.errors.push("You must provide a password.");
                }
                if(!this.account.email.match("(?:[a-z0-9!#$%&'*+\\/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+\\/=?^_`{|}~-]+)*|\"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\\\[\x01-\x09\x0b\x0c\x0e-\x7f])*\")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\\])")) {
                    failed = true;
                    this.errors.push("Your email is invalid.");
                }
                // tell API we're ready
                if(!failed) {
                    axios.post("/api/v1/portal/createAccount", this.account)
                        .then((r) => {
                            r = r.data;
                            if (r.success) {
                                localStorage.setItem("token", r.token);
                                this.$router.push("/dashboard");
                            } else {
                                for (error in r.errors) {
                                    this.errors.push(r.errors[error]);
                                }
                                failed = true;
                            }
                        })
                }

                if(failed) this.status.create = "Create Account";
            },
            change(to) {
                Object.keys(this.show).forEach((item) => {
                    this.show[item] = false;
                });
                Object.keys(this.account).forEach((item) => {
                    this.account[item] = "";
                });

                this.show[to] = true;
                this.$router.push("/auth/" + to);
            }
        },
        mounted: function() {
            const image = this.images[Math.floor(Math.random() * this.images.length)];
            this.imageLeft = "background: url(" + image.url + ");background-size:cover;";
            this.imageCredit = image.credit;

            if(this.$route.params.type == "login") {
                this.show.login = true;
            }
            else if(this.$route.params.type == "register") {
                this.show.register = true;
            } else {
                this.show.notfound = true;
            }
        }
    }
</script>
