<template>

</template>

<script>
    export default {
        props: ["not"],
        mounted: function() {
            if(localStorage.getItem("token") === null) {
                this.$router.push("/auth/login");
            }
            axios.post("/api/v1/portal/validToken", {token: localStorage.getItem("token")})
            .then((r) => {
                r = r.data;
                if(!r.valid) this.$router.push("/auth/login");
            });
        }
    }
</script>
