<template>
    <div>
        <div class="error-bar bg-gradient-red"></div>
        <h1 class="text-center mb-0 mt-5">Error 404</h1>
        <h3 class="text-center mt-0">Sorry, but the page you were looking for could not be found.</h3>
        <a class="text-center back" href="javascript:history.go(-1)">Go Back</a>

        <h5 class="text-center font-weight-100 text-lowercase cobweb-footer">cobweb<b>panel</b></h5>
    </div>
</template>

<style scoped>
    .back {
        padding: 5px 22px;
        background: #1565C0;
        border-radius: 3px;
        color: white;
        display:block;
        width: max-content;
        margin: 0 auto;
        text-transform: uppercase;
        text-decoration: none;
    }
    .error-bar {
        position: absolute;
        top: 0;
        height: 5px;
        width: 100%;
    }
    .cobweb-footer {
        position: absolute;
        bottom: 50px;
        width: 100%;
        text-align: center;

    }
</style>


<script>
    module.exports = {
        name: "Error404"
    }
</script>
