<template>
    <div>

        <div id="welcome-page">
            <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-info">
                <div class="container">
                    <router-link class="navbar-brand" to="/">Cobweb</router-link>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-primary">
                        <div class="navbar-collapse-header">
                            <div class="row">
                                <div class="col-6 collapse-brand">
                                    <router-link to="index.html">
                                        <img src="assets/img/brand/blue.png">
                                    </router-link>
                                </div>
                                <div class="col-6 collapse-close">
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item">
                                <router-link class="nav-link" to="/about">About</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/auth/createAccount">Create Account</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="/auth/login">Login</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="section section-lg bg-gradient-info section-shaped">

                <div class="container">
                    <div class="text-white text-center pb-5">
                        <h3 class="text-white"><i>The</i> <span id="replace-text">all in one</span>server manager</h3>
                        <p>A new, fast and beautiful gamepanel to connect your server...</p>

                        <div class="btn-group align-content-center">
                            <router-link to="/about" class="btn btn-outline-white">Learn More</router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section bg-dark">
                <h2 class="text-white text-center mt-2" style="font-weight:100;">Meet Cobweb</h2>
                <div class="container">
                    <p class="text-white text-center">Cobweb is a fast, elegant and powerful panel designed around modern web standards,
                        mixing beauty, ease and power. We have built in support for numerous Spigot & Bukkit plugins, Tebex(Buycraft), XenForo and Discord, along with a powerful API. And, what's best is <b>it's free</b> and open source!</p>
                </div>
            </div>
            <div class="section bg-purple text-white">
                <h2 class="text-white text-center mt-2" style="font-weight:100;">Why Cobweb?</h2>
                <div class="container">

                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                            <h2><i class="text-white ni ni-books"></i></h2>
                            <h4 class="text-white">Service Hub</h4>
                            <p>Cobweb acts as a hub to link all of your services, plugins and servers together.</p>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                            <h2><i class="text-white ni ni-cloud-download-95"></i></h2>
                            <h4 class="text-white">Modular & Adaptable</h4>
                            <p>Our panel can be added to & modified to your hearts content on any installation!</p>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                            <h2><i class="text-white ni ni-tv-2"></i></h2>
                            <h4 class="text-white">Pterodactyl Support</h4>
                            <p>We support Pterodactyl out of the box, giving analytics & extremely in-depth reports...</p>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                            <h2><i class="text-white ni ni-image"></i></h2>
                            <h4 class="text-white">Beautiful Interface</h4>
                            <p>Our UI is clean, easy to navigate and fast, powered by the Argon design system.</p>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                            <h2><i class="text-white ni ni-support-16"></i></h2>
                            <h4 class="text-white">Active Community</h4>
                            <p>Our community is active and willing to help with any issues you may have.</p>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-12 text-center">
                            <h2><i class="text-white ni ni-ui-04"></i></h2>
                            <h4 class="text-white">Ease of use</h4>
                            <p>Our application is easy to setup & easy to use for large or small servers!</p>
                        </div>
                        <div class="col-12 text-center">
                            <h2><i class="text-white ni ni-air-baloon"></i></h2>
                            <h4 class="text-white">Dark Theme</h4>
                            <p>We don't try to blind our users, with our native theme being dark mode.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-white section text-center bg-gradient-darker">
                <div class="container">
                    <h3 class="text-white">Let's Go</h3>
                    <p>Are you ready to empower your server?</p>
                    <router-link to="/download" class="btn btn-outline-success">Get Started</router-link>
                    <router-link to="https://discord.gg/j3kZnnA" class="btn btn-outline-primary">Discord</router-link>
                </div>
            </div>
            <div class="section text-white bg-dark footer">
                <h5 class="text-center text-white font-weight-100 text-lowercase">cobweb<b>panel</b></h5>
                <div class="text-white-50 text-center">&copy; 2019 Phil Gibson & contributors - Licensed under GNU GPLv3</div>
                <div class="links text-center">
                    <router-link to="https://discord.gg/j3kZnnA">Discord</router-link> -
                    <router-link to="#">GitHub</router-link> -
                    <router-link to="/docs">Documentation</router-link> -
                    <router-link to="/download">Download</router-link>
                </div>
                <div class="mt-3 container container-lg text-justify">
                    <div class="row text-center">
                        Cobweb is a fast, free and powerful management panel designed to connect services together under a central bridge.
                        We offer a simple solution to manage your community, staff and platforms, with integrations to many different
                        platforms such as Discord, Tebex and LuckPerms.
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Typewriter from 'typewriter-effect/dist/core';
    export default {
        mounted() {
            const typewriter = new Typewriter(document.getElementById("replace-text"), {
                loop: true
            });
            typewriter.typeString('all in one')
                .pauseFor(2500)
                .deleteAll()
                .typeString('powerful')
                .pauseFor(2500)
                .deleteAll()
                .typeString('integrated')
                .pauseFor(2500)
                .deleteAll()
                .typeString('beautiful')
                .pauseFor(2500)
                .deleteAll()
                .typeString('open source')
                .pauseFor(2500)
                .deleteAll()
                .typeString('fast')
                .pauseFor(2500)
                .start();
        }
    }
</script>
